<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script>
        function add() {
            var num1 = $('#num1').val();
            var num2 = $('#num2').val();

            $.ajax({
                url: '/add',
                type: 'post',
                dataType: 'json',
                data: {
                    num1: num1,
                    num2: num2,
                },
                success: function (res) {
                    alert(res.result);
                },
                error: function (req, status, exception) {
                }
            })
        }
    </script>
</head>
<body>
<h3>计算两个数的和，请输入整数</h3>
<input id="num1">
<span>x</span>
<input id="num2">
<input type="button" value="计算" onclick="add()">
</body>
</html>